.EditProductCard-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.EditProductCard {
  background: white;
  display: flex;
  width: 40%;
  border: 1px solid #eee;
  min-width: 600px;
  margin: 10px;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
}

.EditProductCard form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.EditProductCard label {
  margin: 0;
  padding: 10px;
}

.EditProductCard form input,
textarea,
.inStock-Container {
  background-color: #ebebeb;
  border: 1px solid #eee;
}

.EditProductCard input {
  width: 100%;
}

.EditProductCard textarea {
  width: 100%;
}

.EditProductCard * {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.EditProductCard button:hover {
  background: #3f3f3f;
  color: white;
}

.productImage {
  object-fit: scale-down;
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.inStock-Container {
  width: 100%;
  display: flex;
  align-items: center;
}

.inStock-Container * {
  margin: 0;
  padding: 0;
  width: 50%;
}

.inStock-Container label {
  text-align: center;
}

.inStock-Container input {
  height: 25px;
}

.EditProductCard .DeleteProduct:hover {
  background-color: rgb(165, 23, 23);
}
