.Orders-Container {
  display: flex;
}

.Order-Card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 30px;
  color: #eee;

  background: rgb(46, 46, 46);
  width: 30%;
}

.Status-Input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 30px 0px;
}

.Status-Input select {
  width: 50%;
  padding: 5px;
  font-size: 1.3rem;
}

.Order-Item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  font-size: 1.2rem;
  margin: 10px;
}

.Product-Quantity {
  width: 30%;
}

.Product-Name {
  width: 70%;
  text-align: left;
}
