@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  padding: 20px;
  width: 100%;
}

.header h1 {
  flex: 1;
  position: absolute;
  left: 36px;
  top: 36px;
}
/* 
.userOptions {
  text-align: right;
  flex: 1;
} */

.userButtons {
  border: 3px solid black;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  padding: 15px;
  margin: 15px;
}

.userButtons:hover {
  background: #3f3f3f;
  color: white;
}

.logo-container {
  display: flex;
  justify-self: center;
  align-self: center;
}

.logo {
  height: 75px;
  width: 75px;
  justify-self: center;
  align-self: center;
}

.sortProducts {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(63, 63, 63);
}

.link {
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(247, 247, 247);
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: lightgray;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: gray;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
