@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(235, 235, 235);
  padding: 20px;
}

.header h1 {
  flex: 1;
}

.userOptions {
  text-align: right;
  flex: 1;
}

.userButtons {
  border: 3px solid black;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  padding: 15px;
  margin: 15px;
}

.userButtons:hover {
  background: rgb(116, 116, 116);
  color: white;
}

.logo {
  height: 75px;
  width: 75px;
}

.sortProducts {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(63, 63, 63);
}

.link {
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}

main {
  background-color: rgb(247, 247, 247);
}
